<mat-toolbar>
    <span class="fill-remaining-space">Employees</span>
  </mat-toolbar>

<ul class="employees">
        <li *ngFor="let employee of employees">
            <mat-nav-list>
    <a  routerLink="/employee/{{employee.id}}">
      {{employee.lastName}} {{employee.firstName}}
    </a>
</mat-nav-list>
    <mat-list>
        <mat-list-item> BirthDate: {{employee.birthDate}} </mat-list-item>
        <mat-list-item> Salary: {{employee.salary}} </mat-list-item>
       </mat-list>
  </li>
</ul>


