<mat-toolbar>
    <span class="fill-remaining-space">Edit employee</span>
  </mat-toolbar>
  <div class="container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)"class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="First name" formControlName="firstName"  >
        <mat-error *ngIf="!formGroup.controls['firstName'].valid && formGroup.controls['firstName'].touched">
          {{ getErrorFirstName() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Last name" formControlName="lastName">
        <mat-error *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
          {{ getErrorLastName() }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone number" formControlName="phoneNumber" >
        <span matPrefix>+&nbsp;</span>
        <mat-error *ngIf="!formGroup.controls['phoneNumber'].valid && formGroup.controls['phoneNumber'].touched">
          {{ getErrorPhoneNumber() }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input type="number" matInput placeholder="Salary" formControlName="salary">
        <mat-error *ngIf="!formGroup.controls['salary'].valid && formGroup.controls['salary'].touched">
          {{ getErrorSalary() }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <mat-label>Birth date</mat-label>
        <input matInput [matDatepicker]="birthPicker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthPicker disabled="false"></mat-datepicker>
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" (click)="onUpdateClick()"  [disabled]="!formGroup.valid">Update employee</button>
        <button mat-raised-button color="primary" type="submit" (click)="onDeleteClick()"  >Delete employee</button>
        <a mat-button color="primary" type="submit"
        class="button-row" href= '/employees' > View all employees </a>
      </div> 
    </form>
  </div>