<div>
  <section>
    <div>
      <mat-toolbar color="primary">
        <span>Task app</span>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button [routerLink]='["home"]'>Home</a>
          <a mat-button [routerLink]='["project"]'>Create project</a>
          <a mat-button [routerLink]='["employee"]'>Create employee</a>
          <a mat-button [routerLink]='["employees"]'>Employees</a>
        </div>
        <span class="filler"></span>
      </mat-toolbar>
      <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav-content fxFlexFill>
        </mat-sidenav-content> 
      </mat-sidenav-container>
    </div>
  </section>
  <router-outlet></router-outlet>

</div>
