.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 5px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.button-row{
  width: 100%;
  text-align: center;
}

.blue-snackbar {
  background: #2196F3;
  padding: 5px 0px 5px 2px;
}