<mat-toolbar>
    <span class="fill-remaining-space">Create project</span>
  </mat-toolbar>


  <div class="container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <mat-form-field class="form-element">
            <input matInput placeholder="Project name" formControlName="name">
            <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
              {{ getErrorName() }}
            </mat-error>
          </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Choose a start date of project </mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" disabled>  
        <!-- <mat-error *ngIf="!formGroup.controls['startPicker'].valid && formGroup.controls['startPicker'].touched">
          {{ getErrorDate() }}
        </mat-error> -->
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Choose an end date of project </mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker disabled="false"></mat-datepicker>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" (click)="onUpdateClick()"  [disabled]="!formGroup.valid">Update project</button>
        <button mat-raised-button color="primary" type="submit" (click)="onDeleteClick()"  >Delete project</button>
        
      </div> 
    </form>
  </div>
  <div>
  <button mat-raised-button color="primary" type="submit" (click)="onClick()"  >View all employees of this project</button>
  <button mat-raised-button color="primary" type="submit" (click)="onClick1()"  >Add new employee to project</button>