.fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 50%;
  }
  .button-row{
    width: 100%;
    text-align: center;
    margin-right: 8px;
  }
  .example-button-row button,
  .example-button-row a {
  margin-right: 8px;
  width: 30%;
  }