<mat-toolbar>
  <span class="fill-remaining-space">Projects</span>
</mat-toolbar>

<ul class="projects">
        <li *ngFor="let project of projects">
            <mat-nav-list>
    <a  routerLink="/project/{{project.id}}">
      {{project.name}}
    </a>
</mat-nav-list>
    <mat-list>
        <mat-list-item> Start date: {{project.startDate}} </mat-list-item>
        <mat-list-item> End date: {{project.endDate}} </mat-list-item>
       </mat-list>
  </li>
</ul>


